<div class="container text-center">
<h1>Lukas Ames</h1>
<div class="container position-absolute top-50 start-50 translate-middle">
    <img src="../content/images/photo.png">
        <p>My Name is Lukas Ames and I am In college to become a software Engineering Technician, 
        My hobby is playing video games and I very much enjoy web development and C#/Java Programming.</p>
        <a href="../content/PDFs/Resume.pdf"><p>Resume</p></a>
    </div>
</div>