<div class="container">
    <div class="container text-center position-absolute top-50 start-50 translate-middle">
        <div class="row row-cols-3">
          <div class="col"><img src="../content/images/Calender.png" width="400" height="250"></div>
          <div class="col"><img src="../content/images/Grid.png" width="400" height="250"></div>
          <div class="col"><img src="../content/images/BMR.png" width="400" height="250"></div>
          <div class="col">Calender Assignment</div>
          <div class="col">Grid Assignment</div>
          <div class="col">BMR Assignment</div>
        </div>
      </div>
</div>